@import "./variables";
.container {
  margin: 0 auto;
  padding: 5rem;
  background: $primary;

  .topic {
    color: $topic-text;
  }
  .main {
    color: $text;
    font-size: map-get($size, large);
  }
  .main:hover {
    color: $topic-text;
  }
}
