@import "./variables";

@function size-name($name) {
  @return map-get($size, $name);
}

@mixin flexCall($direction) {
  flex-direction: $direction;
  display: flex;
}
.container {
  @include flexCall(row);
  margin: 0 auto;
  padding: 1rem;
  background: $primary;
  color: $topic-text;

  .main {
    color: $text;
    font-size: size-name(high);
  }
  .main:hover {
    color: $topic-text;
  }
}
.main .item-1 {
  color: $primary;
}
